html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    background-color: #000;
    color: #fff;;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.logo-img path {
    transition: all .5s;
}

.logo-img path:hover {
    fill: #bdae82;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu-list {
    display: flex;
}

.menu-item + .menu-item {
    margin-left: 30px;
}

.menu-item__lang{
    margin-left: 33px;
}

.menu-item__link{
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    line-height: 50px;
    transition: all .5s;
    color: #fff;
}

.menu-btn__lang {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: inherit;
    cursor: pointer;
    transition: all .5s;
    color: #fff;
}

.menu-item__lang span{
    color: #fff;
}

.menu-item__link:hover,
.menu-btn__lang:hover {
    color: #BDAE82;
}

.hero {
    position: relative;
}

.container-hero {
    padding: 0;
}

.hero-inner{
    background-image: url(../images/header-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    height: 910px;
    padding: 0 0 0 79px;
}

.hero-title {
    padding-top: 250px;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 120px;
    color: #fff;
}

.hero-text {
    max-width: 470px;
    margin: 12px 20px 35px 0;
    color: #fff;
}

.hero-btn {
    color: #000;
    padding: 15px 72px;
    background-color: #BDAE82;
    text-decoration: none;
    transition: all .5s;
    cursor: pointer;
}

.hero-btn:hover {
    color: #ffffff;
}

.skills {
    padding-top: 100px;
}

.title {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    margin-bottom: 60px;
    position: relative;
}

.title::after,
.title::before {
    content: '';
    position: absolute;
    width: 274px;
    height: 2px;
    background-color: #BDAE82;
    top: 40px;
}

.title::after {
    right: 0;
}

.title::before {
    left: 0;
}


.skills-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.skills-item {
    max-width: 320px;
    width: 100%;
}

.skills-img {
    margin-bottom: 50px;
}

.skills-item__title {
    font-weight: bold;
    margin-bottom: 20px;
}

.skills-descr {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}

.portfolio{
    padding-top: 100px;
}

.portfolio-title::before,
.portfolio-title::after {
    content: '';
    position: absolute;
    width: 242px;
    height: 2px;
    background-color: #BDAE82;
    top: 40px;
}

.portfolio-filter__btn {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.portfolio-filter__item + .portfolio-filter__item{
    margin-left: 5px;
}
.portfolio-btn {
    border: 2px solid #BDAE82;
    color: #BDAE82;
    background-color: inherit;
    font-size: 20px;
    line-height: 40px;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: all .5s;
    cursor: pointer;
}

.portfolio-btn:hover {
    background-color: #BDAE82;
    color: #000;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    list-style-type: none;
    text-align: center;
}

.video {
    padding-top: 100px;
}

.video-popup {
    background-image: url(../images/video-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.video-popup__inner{
    height: 705px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-popup__link {
    text-align: center;
}

.video-popup__img path {
    transition: all .5s;
}

.video-popup__img path:hover {
    fill: #BDAE82;
}

.price {
    padding: 100px 0;
}

.price-items{
    display: flex;
    justify-content: space-between;
}

.price-list{
    max-width: 450px;
    width: 100%;
    border: 3px solid #BDAE82;
    text-align: center;
}

.price-card {
    list-style-type: none;
}

.price-list + .price-list {
    margin-left: 25px;
}

.price-item__title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 56px;
    font-weight: bold;
    margin: 43px 0 20px 0;
}
.price-item__price {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 20px;
    color: #BDAE82;
}

.price-item__descr {
    width: 100%;
    font-size: 18px;
    line-height: 36px;
}

.price-item__btn {
    border: none;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #BDAE82;
    color: #000000;
    padding: 6px 43px;
    margin: 40px 0 43px 0;
    transition: all .5s;
    cursor: pointer;
}

.price-item__btn:hover {
    color: #fff;
}

.contacts-inner{
    height: 700px;
    background-image: url(../images/contacts-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}

.contacts-form {
    margin: 60px 20px 0 20px;
    max-width: 450px;
    width: 100%;
}

.contacts-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 40px;
}

.contacts-info__input {
    display: block;
    width: 100%;
    padding: 5px 20px 1px 20px;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    background-color: transparent;
    border: 2px solid #BDAE82;
    margin-bottom: 20px;
}

.contacts-info__textarea {
    display: block;
    width: 100%;
    padding: 5px 20px 11px 20px;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    background-color: transparent;
    border: 2px solid #BDAE82;
    resize: none;
    margin-bottom: 30px;
}

.contacts-info__input::placeholder,
.contacts-info__textarea::placeholder {
    color: #BDAE82;
    font-size: 20px;
    line-height: 40px;
}

.contacts-info__btn {
    border: none;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background-color: #BDAE82;
    color: #000000;
    padding: 8px 44px;
    transition: all .5s;
    cursor: pointer;
}

.contacts-info__btn:hover {
    color: #fff;
}

.footer {
    padding: 50px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copy {
    display: flex;
    list-style-type: none;
}

.footer-copy__item {
    line-height: 50px;
}

.footer-copy__item + .footer-copy__item {
    margin-left: 20px;
}

.footer-copy__link {
    text-decoration: none;
    color: inherit;
}

.footer-rss__link {
    line-height: 50px;
    text-decoration: none;
    color: inherit;
    transition: all .5s;
}

.footer-rss__link:hover {
    color: #BDAE82;
}

.footer-social {
    display: flex;
    list-style-type: none;
}

.footer-social__item + .footer-social__item {
    margin-left: 20px;
}

.footer-social__img path{
    transition: all .5s;
    fill: #fff;
}

.footer-social__img path:hover {
    fill: #BDAE82;
}

@media (max-width: 1440px) {
    .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
    text-align: center;
    }
}

@media (max-width: 1200px) {
    .skills-items {
        padding: 0 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 54px 36px;
        place-items: center;
    }
    .skills-item {
        max-width: 300px;
    }
    .skills-img {
        margin-bottom: 16px;

    }
}

@media (max-width: 979px) {
    .portfolio-filter__btn{
        max-width: 450px;
        margin: 0 auto;
    }
    .portfolio-filter__item + .portfolio-filter__item{
        margin-left: 0;
    }
    .portfolio-filter__item:nth-child(even) {
        margin-left: 5px;
    }
    .portfolio-filter__item:first-child,
    .portfolio-filter__item:nth-child(2) {
        margin-bottom: 5px;
    }
    .portfolio-btn {
        width: 220px;
    }
    .portfolio-list {
        margin-top: 60px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 25px;
    }
}

@media (max-width: 955px) {
    .price-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price
    .price-list + .price-list {
        margin-left: 0;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    /* .body-lock{
        overflow: hidden;
    } */
    .header-top{
        padding: 20px 25px 20px 40px;
    }
    .menu-btn{
        display: block;
        width: 50px;
        height: 28px;
        border: none;
        background-color: transparent;
        color: #fff;
        position: relative;
        cursor: pointer;
        padding: 0;
        order: 1;
        margin-left: 20px;
        z-index: 3; 
    }
    .menu-btn span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transition: all .5s;
    }
    .menu-btn::after,
    .menu-btn::before {
        position: absolute;
        content: '';
        width: 100%;
        background-color: #fff;
        height: 3px;
        left: 0;
        right: 0;
        transition: all .5s;
    }
    .menu-btn::after {
        bottom: 0;
    }
    .menu-btn::before {
        top: 0;
    }
    .menu-btn__active span {
        opacity: 0;
    }
    .body-active {
        opacity: 0.5;
        transition: opacity .5s;
    }
    .menu-btn__active::before {
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    .menu-btn__active::after {
        transform: rotate(45deg) translate(-10px, -10px) ;
    }
    .menu-list {
        display: block;
        position: absolute;
        top: 0;
        left: 145px;
        right: 0;
        background: #000000;
        padding: 134px 0 463px 127px;
        max-width: 620px;
        text-align: left;
        transform: translateX(-200%);
        transition: all .5s;
        opacity: 1;
    }
    .menu-list__active{
        transform: translateX(0);
    }
    .menu-item + .menu-item {
        margin-left: 0;
    }
    .menu-item__link {
        font-size: 34.8235px;
        line-height: 73px;
    }
    .menu-item__lang{
        margin-left: 0;
    }
    .hero-inner {
        height: 590px;
        background-image: url(../images/header-small-bg.jpg);
    }
    .hero-content {
        max-height: 590px;
        padding: 0 0 0 60px;
    }
    .hero-title{
        padding-top: 170px;
        font-size: 32px;
        line-height: 64px;
    }
    .hero-text {
        max-width: 390px;
        line-height: 24px;
        margin: 20px 0px 60px 0;
    }
    .skills,
    .price {
        padding-top: 80px;
    }
    .skills-title {
        margin-bottom: 46px;
    }
    .skills-items {
        padding: 0 30px;
        grid-gap: 66px 38px;
        place-items: center;
    }
    .skills-descr {
        line-height: 22px;
        letter-spacing: 0;
    }
    .title {
        max-width: 364px;
        font-size: 32px;
        margin-bottom: 55px;
    }
    .title::after,
    .title::before {
        width: 117px;
    }
    .portfolio {
        padding-top: 150px;
    }
    .portfolio-title {
        margin-bottom: 48px;
    }
    .portfolio-title::before,
    .portfolio-title::after {
        width: 90px;
    }
    .portfolio-item .portfolio-item {
        margin-top: 15px;
    }
    .video {
        padding-top: 75px;
    }
    .video-popup {
        background-image: url(../images/video-small-bg.jpg);
    }
    .video-popup__img {
        width: 75px;
        height: 75px;
    }
    .video-popup__inner {
        height: 418px;
    }
    .price {
        padding-bottom: 80px;
    }
    .price-list {
        max-width: 420px;
    }
    .price-item__btn {
        margin: 40px 0 40px 0;
    }
    .contacts-inner {
        height: 600px;
        background-image: url(../images/contacts-small-bg.jpg);
        background-position: 0;
        justify-content: center;
    }
    .contacts-form {
        margin: 60px 0px 0 0px;
        text-align: center;
    }
    .contacts-title {
        font-size: 32px;
        line-height: 64px;
    }
    .contacts-info__input,
    .contacts-info__textarea {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .contacts-info__btn {
        border: none;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        background-color: #BDAE82;
        color: #000000;
        padding: 8px 44px;
        transition: all .5s;
        cursor: pointer;
    }
    .footer {
        padding: 15px 20px;
    }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
    }
}

@media (max-width: 620px) {
    .menu-list {
        left: 0;
    }
    .hero-inner {
        background-position: right;
    }
    .skills-items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .price-item__title {
        font-size: 25px;
        line-height: 46px;
        margin: 20px 0 20px 0;
    }
    .price-item__price {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 20px;
    } 
    .price-item__btn {
        margin: 20px 0 20px 0;
    }
    
}

@media (max-width: 515px) {
    .portfolio-filter__item:nth-child(even) {
        margin-left: 0px;
    }
    .portfolio-filter__item:nth-child(n){
        margin-bottom: 5px;
    }
    .portfolio-list {
        place-items: center;
    }
    .portfolio-item__img {
        width: 100%;
    }
    .contacts-inner{
        height: 550px;
    }
    .contacts-title {
        font-size: 30px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .contacts-info__input {
        font-size: 16px;
        line-height: 32px;
    }
    
    .contacts-info__textarea {
        font-size: 16px;
        line-height: 32px;
    }
    
    .contacts-info__input::placeholder,
    .contacts-info__textarea::placeholder {
        font-size: 16px;
        line-height: 32px;
    }
    .contacts-form {
        margin: 40px 20px 0 20px;
    }
}

@media (max-width: 480px) {
    .header-top {
        padding: 20px;
    }
    .menu-list {
        left: 0;
        padding:  75px 0 115px 20px;
        opacity: 0.9;
    }
    .menu-item__link {
        font-size: 26px;
        line-height: 48px;
    }
    .hero-content {
        padding-left: 20px;
    }
    .hero-title{
        padding-top: 120px;
        font-size: 30px;
        line-height: 58px;
    }
    .hero-text {
        font-size: 16px;
        line-height: 18px;
    }
    .title {
        max-width: 300px;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .title::after,
    .title::before {
        width: 70px;
    }
    .skills-items {
        grid-gap: 30px;
    }
    .skills-img {
        margin-bottom: 15px;
    }
    .portfolio-title::before,
    .portfolio-title::after {
    width: 50px;
    }
}